[project]
name = "devserver-mcp"
dynamic = ["version"]
description = "MCP server for managing dev servers"
readme = "README.md"
authors = [{ name = "Ville Säävuori", email = "ville@unessa.net" }]
requires-python = ">=3.13"
dependencies = [
    "click>=8.2.1",
    "fastmcp>=2.9.0",
    "pydantic>=2.11.7",
    "pyyaml>=6.0.2",
    "textual>=6.8.0",
]

[project.scripts]
devservers = "devserver_mcp:main"

[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"

[tool.hatch.version]
path = "src/devserver_mcp/__init__.py"

[dependency-groups]
dev = [
    "fastapi[standard]>=0.115.13",
    "playwright>=1.52.0",
    "pyright>=1.1.402",
    "pytest>=9.0.2",
    "pytest-asyncio>=1.0.0",
    "pytest-cov>=7.0.0",
    "pytest-sugar>=1.0.0",
    "ruff>=0.12.0",
]

[tool.pyright]
reportUnnecessaryTypeIgnoreComment = true
extraPaths = ["src"]
venvPath = "."
venv = ".venv"
