name: Tests

on:
  push:
    branches:
      - main
    paths-ignore:
      - "*.md"
      - "docs/**"
  pull_request:
    paths-ignore:
      - "*.md"
      - "docs/**"
  workflow_dispatch:

concurrency:
  group: test-${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  test:
    runs-on: ubuntu-24.04

    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0

      - name: Install uv
        uses: hynek/setup-cached-uv@757bedc3f972eb7227a1aa657651f15a8527c817 # v2.3.0

      - name: Install dependencies
        run: uv sync --dev --locked

      - name: Test
        run: uv run pytest

      - name: Pytest Coverage
        uses: MishaKav/pytest-coverage-comment@ae0e8a539a3f310aefb3bfb6a2209778a21fa42b # v1.2.0
        if: success()
        with:
          pytest-xml-coverage-path: ./coverage.xml
          junitxml-path: ./pytest.xml
          badge-title: Backend Coverage
